<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- <meta http-equiv="refresh" content="15"> --}}
    <title>ESP32 with DHT11 temperature sensor</title>
    <link rel='stylesheet' type='text/css' href='/css/main.css' />
</head>

<body>
<p>Average of last 60min: {{ value }}</p>
</body>

</html>